{% load static %} {% load widget_tweaks %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/styles_crud.css' %}">
    <title>Hostal Doña Clarita - Actualizar Plato</title>
</head>
<body>
<div class="center">
<div class = "box">
    <h2>Actualizando Plato {{item.id}}</h2>
    <form action="{% url 'plato-actu' item.id %}" method="POST">
        {% csrf_token %}
        {% for field in form.visible_fields %}
        <div class="form-group">
            {{ field.label_tag }}
            {% render_field field class="form-control" %}
            
        </div>
    {% endfor %}
    <div id="space"></div>
    <button type="submit" class="btn btn-primary btn-block" >Actualizar plato</button>
    
    </form>
</div>
</div>
    
</body>
</html>