{% extends 'plantilla_proveedor.html' %}

{% block title %}Lista de pedidos{% endblock title %}

{% block content %}
{% if user.is_proveedor == True or user.is_superuser %}
<h1 id="titulo">PEDIDOS</h1> 
<div id="space"></div>
<table class="table table-striped table-bordered" id="tablaPedidosPendi" name="tablaPedidosPendi">
    <thead>
        <tr>
            <th>ID</th>
            <th>Fecha de Creación</th> 
            <th>TOTAL</th> 
            <th>Cancelar</th> 
            <th>Detalle</th> 
            <th>Enviar al Hostal</th> 

        </tr>
    </thead>
    <tbody>
        {% for pedidoCreado in listaMisPedidos %} 
    <tr>
        <td>{{pedidoCreado.0}}</td>
        <td>{{pedidoCreado.1}} </td>
        <td>$&nbsp;{{pedidoCreado.3}} </td>  
        <form action="{% url 'proveedor-lista' %}" method="POST"> 
            {% csrf_token %}                  
                <td>
                    <button type="submit" id="btnCancelarPedido" name="btnCancelarPedido" class="btn btn-danger" value={{pedidoCreado.0}}>Cancelar Pedido</button>
                </td>
        </form>         
        <form action="{% url 'mostrarpedidop' %}" method="POST"> 
            {% csrf_token %}                  
                <td>
                    <button type="submit" id="btnVerDetallePedido" name="btnVerDetallePedido" class="btn btn-info" value={{pedidoCreado.0}}>Ver Detalle</button>
                </td>
        </form>       
        <form action="{% url 'proveedor-lista' %}" method="POST"> 
            {% csrf_token %}                  
                <td>
                    <button type="submit" id="btnEnviarProductos" name="btnEnviarProductos" class="btn btn-success" value={{pedidoCreado.0}}>Enviar Productos</button>
                </td>
        </form>  
            {% empty %}
            <h2 style="color: black; font-size: x-large; margin: auto;
            text-align: center;
            font-weight: bold; padding: 20px;">No hay pedidos pendientes.</h2>
            {% endfor %}
    </tr>           
        
        
    </tbody>
</table>


{% else %}
<h1 id="mensaje" >Usted no esta autorizado para estar en este lugar</h1>
{% endif %}
{% endblock %}