{% extends 'plantilla_empleado.html' %} {% load widget_tweaks %}    {% load mathfilters %}

{% block title %}Empleado{% endblock title %}

{% block content %}
{% if user.is_empleado == True or user.is_superuser%}
<h1 id="titulo">Orden de Pedido Número: {{numeroOrden}}</h1> 
<div id="space"></div>

<label>Numero Orden: {{numeroOrden}}</label>
<label>Fecha Emisión: {{fechaCreacion}}</label>
<label>Total a Pagar: {{precioTotal|floatformat}}</label>
<label>Proveedor: {{datosProveedor}}</label>
<label>Solicitante: {{datosSolicitante}}</label>


<div id="space"></div>
<h1 id="titulo">Detalle del pedido</h1> 
<table class="table">
  <thead>
      <tr>
          <th>Nombre</th>
          <th>Marca</th> 
          <th>Descripción</th> 
          <th>Fecha de Vencimiento</th>
          <th>Precio Unidad</th>
          <th>Cantidad Actual</th>
          <th>Total Actual</th>
          <th>Actualizar Cantidad</th>
          <th>Stock Del Producto</th>
        </tr>
  </thead>
  <tbody>
      {% for productoDeseado in listaProductosOP %} 
  <tr>
      <td>{{productoDeseado.1}}</td>
      <td>{{productoDeseado.2}} </td>
      <td>{{productoDeseado.3}} </td>
      <td>{{productoDeseado.6}} </td>
      <td>$&nbsp;{{productoDeseado.7|floatformat}} </td>   
      <td>{{productoDeseado.10}} </td>   
      <td>$&nbsp;{{productoDeseado.11}} </td>
      <form action="{% url 'modificarpedido' %}" method="POST"> 
        {% csrf_token %}      
        <td>
            <input type="number" id="nuevaCantidadProd" name="nuevaCantidadProd" min="1" max={{productoDeseado.4|floatformat}} required>                
        </td>      
        <td>{{productoDeseado.4|floatformat}} </td>
        
        <td>
            <button type="submit" id="btnActualizarProdu" name="btnActualizarProdu" class="btn btn-success" value={{productoDeseado.12}}>Actualizar</button>
        </td>
        <td>
            <button type="submit" id="btnEliminarProdu" name="btnEliminarProdu" class="btn btn-danger" value={{productoDeseado.12}} formnovalidate>Eliminar</button>
        </td>
      </form>        
        
   

          {% empty %}
          <h2 style="color: red; font-size: x-large; margin: auto;
          text-align: center;
          font-weight: bold; padding: 20px;">No hay detalles de pedido para mostrar.</h2>
      </tr>
          {% endfor %}
  </tr>           
      
      
  </tbody>
</table>
<form action="{% url 'administrarpedido' %}" method="POST"> 
    {% csrf_token %}      
    <button type="submit" class="btn btn-primary"><b>Volver al Administrador de Pedidos</b></button>
</form>
<div id="space"></div>


{% else %}
<h1 id="mensaje" >Usted no esta autorizado para estar en este lugar</h1>
{% endif %}
{% endblock %}