{% load static %} 
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">


    <title>Hostal Doña Clarita</title>
</head>
<body>

<br>
  <div class="container" style="text-align: center;">
    <div class="panel panel-default">
      <div class="panel-body">
        <h1>Política de Privacidad y Uso</h1>
      </div>
      <div class="panel-footer">
          <p style="text-align: justify;">  Conforme a lo dispuesto en el artículo 19 Nº 4 de la Constitución Política de la República y a
              las normas pertinentes de la Ley Nº 19.628 sobre protección de la vida privada y sus
              modificaciones posteriores, el tratamiento de datos personales que se realiza en www.hostalclarita.cl de Hostal Doña Clarita, se rige por las
              siguientes reglas:
              • Hostal Doña Clarita asegura la confidencialidad de los datos
              personales de los usuarios que se registren como tales en el sitio Web www.hostalclarita.cl mediante el o los formulario(s) establecido(s) para esos
              efectos. Sin perjuicio de sus facultades legales, Hostal Doña Clarita
              sólo efectuará tratamiento de datos personales respecto de aquéllos que han sido
              entregados voluntariamente por los Usuarios en el referido formulario.
              • Los datos personales de los Usuarios serán utilizados para el cumplimiento de los fines
              indicados en el formulario correspondiente y siempre dentro de la competencia y
              atribuciones de Hostal Doña Clarita.
              • Los datos personales de los Usuarios serán objeto de los siguientes tratamientos:
              estadisticas de visitas e información persona para efectuar facturas, conforme a lo declarado ante el Registro de Bases de
              Datos que mantiene el Servicio de Registro Civil e Identificación, el cual puede ser
              consultado en www.registrocivil.cl.
              • Hostal Doña Clarita podrá comunicar a otros organismos del Estado,
              los datos personales de sus usuarios, conforme lo establecido al efecto en la Ley 19.628.
              • Hostal Doña Clarita, en caso de ser requerido judicialmente al efecto,
              procederá a comunicar los datos personales de los usuarios que le sean solicitados.
              • Hostal Doña Clarita podrá comunicar a terceros información estadística
              elaborada a partir de los datos personales de sus usuarios, sin el consentimiento expreso
              del titular, cuando de dichos datos no sea posible identificar individualmente a los
              titulares, de conformidad a la Ley.
              • El Usuario podrá en todo momento ejercer los derechos otorgados por la Ley Nº 19.628 y
              sus modificaciones posteriores. En específico, podrá:
              a. Solicitar información respecto de los bancos de datos de que sea responsable el
              organismos, el fundamento jurídico de su existencia, su finalidad, tipos de datos
              almacenados y descripción del universo de personas que comprende;
              b. Solicitar información sobre los datos relativos a su persona, su procedencia y
              destinatario, el propósito del almacenamiento y la individualización de las personas u
              organismos a los cuales sus datos son transmitidos regularmente; 
              Comité de Normas para el Documento Electrónico
              Guía Modelo de Políticas de Privacidad Página 10 de 10
              c. Solicitar se modifiquen sus datos personales cuando ellos no sean correctos o no
              estén actualizados, si fuere procedente;
              d. Solicitar la eliminación o cancelación de los datos entregados cuando así lo desee, en
              tanto fuere procedente;
              e. Solicitar, de conformidad con lo dispuesto en la Ley 19.628, copia del registro alterado
              en la parte pertinente, si fuere del caso; y,
              f. Oponerse a que sus datos personales sean utilizados para fines estadísticos
              • Para ejercer sus derechos el Usuario podrá dirigirse a contacto@hostalclarita.cl indicando claramente su solicitud.
              • En caso de no recibir respuesta a su comunicación anterior dentro de un plazo de
              10 podrá iniciar las acciones legales correspondientes, las cuales
              deberán ser interpuestas contra el responsable del tratamiento que se señala a
              continuación:
              a. Nombre Responsable
              b. Cargo
              c. Domicilio y dirección postal
              d. Correo electrónico
              e. Fono - Fax
              • Respecto de la recolección y tratamiento de datos realizado mediante mecanismos
              automatizados con el objeto de generar registros de actividad de los visitantes y registros
              de audiencia, Hostal Doña Clarita sólo podrá utilizar dicha información
              para la elaboración de informes que cumplan con los objetivos señalados. En ningún caso
              podrá realizar operaciones que impliquen asociar dicha información a algún usuario
              identificado o identificable.
              • Para efectos de la presente “Política de Privacidad”, se entiende por Usuario a la persona
              que voluntariamente se registre en www.hostalclarita.cl en los
              formularios especialmente establecidos al efecto. En tanto, Visitante es aquella persona
              que accede libremente a la información disponible en www.hostalclarita.cl/index sin necesidad de registrarse previamente</p>
      </div>
    </div>
    <button class="btn btn-success" onclick="volverAtras()"><b>Volver a la página anterior</b></button>
  </div>
  
  <br>






  
  

      <div style="text-align: center;">

        <footer style="width: 100%;">
          <p>© 2021 Hostal Doña Clarita. Todos los derechos reservados. |&nbsp;<a href="{% url 'abouthostalclarita' %}">Acerca del Hostal Doña Clarita</a>&nbsp;|
        </footer>
      </div>
      <script src="{% static 'js/paginaerror.js' %}"></script>
 
</body>
</html>