body{
    background-color:#f2f2f2 ;
}
.container{
    background-color: white;
    border-radius: 5px;
}
#mensaje{
    color: red ;

} 
#titulo{
    text-align: center;
    padding:10px;   
    background-color: rgb(191, 238, 252);
}
#space{
    padding-top:20px;
}

.formulario{
    padding: 20px;
    width: 65%;
    border-radius: 5px;
    margin: auto;
}
.container2{
    background-color: white;
    border-radius: 5px;
    width: 100%;
    
}
